#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem 0; */
  text-align: center;
}

.navbar {
  border-bottom: 1px solid var(--orange-color);
  width: 1440px;
  height: 68px;
}
ul li a:first-child {
  margin-right: 15px;
}
.input-form {
  position: relative;
}

.input-form input {
  padding-right: 40px;
}

.input-form .vector-img {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

.input-form .btn {
  padding: 0;
  border: none;
}

.buttons {
  display: flex;
  padding: 0 16px;
  gap: 16px;
  margin: 15px 0 15px -15px;

  height: 36px;
}

.buttons #add {
  width: 180px;
  border-radius: 36px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  text-align: center;
  color: white;
  letter-spacing: 1.25px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}
.buttons #add:hover {
  background-color: white;
  color: black;
}
.buttons #detail {
  width: 137px;
  border-radius: 48px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  text-align: center;
  color: white;
  letter-spacing: 1.25px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

.buttons #detail:hover {
  background-color: white;
  color: black;
}
.rating {
  gap: 8px;
  display: flex;
  align-items: center;
}

.rating .group-img {
  height: 16px;
  width: 4.13rem;
}

.rating .v-icon {
  height: 16px;
  width: 1.1rem;
}
