@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 /* LEMBRAR DE TROCAR PARA A FONTE BOLD */
:root {
  --gray-color: #f2eac5;
  --yellow-color: #fdd835;
  --white-color: #f5f5f5;
  --orange-color: #ff9800;
  --light-gray: #fafafa;
  --dark-gray: #7e7e7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.87);
}
